# From wide to long and vice versa

Mark Klik & Misja Mikkers

# Packages

In [1]:
library(tidyverse)

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
<U+221A> ggplot2 2.2.1     <U+221A> purrr   0.2.4
<U+221A> tibble  1.4.2     <U+221A> dplyr   0.7.4
<U+221A> tidyr   0.8.0     <U+221A> stringr 1.3.0
<U+221A> readr   1.1.1     <U+221A> forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# Introduction

A dataset often looks like:

In [2]:
data1 <- data.frame(
  ID= c(1,2,3),
  Year_1 = c("a","e","i"),
  Year_2 = c("b", "f", "j"),
  Year_3 = c("c", "g", "k"),
  Year_4 = c("d", "h", "l"), stringsAsFactors = FALSE)
data1

  ID Year_1 Year_2 Year_3 Year_4
1 1  a      b      c      d
2 2  e      f      g      h
3 3  i      j      k      l

But often we need the data to look like this:

In [35]:
data1a <-gather(data1, Year, Value, Year_1:Year_4) %>%
    arrange(ID)
data1a

   ID Year   Value
1  1  Year_1 a
2  1  Year_2 b
3  1  Year_3 c
4  1  Year_4 d
5  2  Year_1 e
6  2  Year_2 f
7  2  Year_3 g
8  2  Year_4 h
9  3  Year_1 i
10 3  Year_2 j
11 3  Year_3 k
12 3  Year_4 l

For the creation of figures, you often need a long format. In this notebook you will learn how to change dataframes from wide to long and vice versa.

# Example

## Dataframe

First, we create a wide dataframe:

In [36]:
data1 <- data.frame(
  ID= c(1,2,3),
  Year_1 = c("a","e","i"),
  Year_2 = c("b", "f", "j"),
  Year_3 = c("c", "g", "k"),
  Year_4 = c("d", "h", "l"),
  stringsAsFactors = FALSE)
data1

  ID Year_1 Year_2 Year_3 Year_4
1 1  a      b      c      d
2 2  e      f      g      h
3 3  i      j      k      l

## From _wide_ to _long_

If we want to change the format from _wide_ to _long_ , we want to use the function `gather()` with the following syntax:


`gather(data, key = "key", value = "value", ...,)`


The parameter _key_ represents the name of that you want to give to the _key-column_ . (In our example we want to call this column  _Year_). For the parameter _value_ you choose the name for the _value-column_ (in our example _Value_). For the dots you need the fill in the columns that contain a  _value_  (in our case _Year_1_ until _Year_4_).

The command works like this:

In [37]:
data2 <- data1 %>%
  gather(Year, Value, Year_1:Year_4)
print(data2)

   ID   Year Value
1   1 Year_1     a
2   2 Year_1     e
3   3 Year_1     i
4   1 Year_2     b
5   2 Year_2     f
6   3 Year_2     j
7   1 Year_3     c
8   2 Year_3     g
9   3 Year_3     k
10  1 Year_4     d
11  2 Year_4     h
12  3 Year_4     l

We can sort the dataframe on ID.

In [38]:
data2 <- data2 %>%
  arrange(ID)
print(data2)

   ID   Year Value
1   1 Year_1     a
2   1 Year_2     b
3   1 Year_3     c
4   1 Year_4     d
5   2 Year_1     e
6   2 Year_2     f
7   2 Year_3     g
8   2 Year_4     h
9   3 Year_1     i
10  3 Year_2     j
11  3 Year_3     k
12  3 Year_4     l

## From _long_ to _wide_

We can reverse the process with the function `spread()`. This function has the following syntax:

`spread(data, key, value, ...)`

The parameter _key_ is the name of the column that contains the values to be spreaded (in our example _Year_). The parameter _value_ is the name of the column with _values_.

In [39]:
data3 <- data2 %>%
  spread(Year, Value)
print(data3)

  ID Year_1 Year_2 Year_3 Year_4
1  1      a      b      c      d
2  2      e      f      g      h
3  3      i      j      k      l

With this function you achieve the opposite of `gather()`:

In [40]:
dataTest <- data1 %>%
  gather(Year, Value, Year_1:Year_4) %>%
  spread(Year, Value)

dataTest == data1

     ID   Year_1 Year_2 Year_3 Year_4
[1,] TRUE TRUE   TRUE   TRUE   TRUE
[2,] TRUE TRUE   TRUE   TRUE   TRUE
[3,] TRUE TRUE   TRUE   TRUE   TRUE

# Assignment

1. Read the file _groei.csv_ . Please note: because the _csv_ file containts numbers in the column names, R will put an X in front of the column names. Because we don't want the X, you need to add the command `check.names = FALSE`. Then the command will look something like this: `read.csv2("../Sourcedata/your_file_name.csv", check.names = FALSE)`
2.  Change the file to a _long_ format. Please note that you can't use numbers as column names in the function `gather()`, because R would think e.g. 2002 is column 2002. How to solve this?

In [5]:
oecd1 <- read.csv2("../Sourcedata/growth.csv", check.names = FALSE)
  
head(oecd1)
oecd2 <- gather(oecd1,Year,growth, '2006':'2016')
  

head(oecd2)

  Country        2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
1 Belgium        0.7  3.0  4.3  4.5   0.2 2.0  0.4   1.2 1.7   1.7 0.0
2 France         0.3  0.9  1.1  3.3   0.6 1.7  0.7   1.0 1.7   0.2 0.2
3 Germany        2.4  2.0  3.4  3.9   3.1 1.0  0.8   1.7 1.9   1.8 2.3
4 Netherlands    2.4  4.1  4.3  3.0   2.5 2.3  2.2  -0.5 0.7  -0.1 0.1
5 Sweden         2.6  1.5  1.6  1.2  -0.3  NA  1.4   1.9 2.0   1.8 2.7
6 United Kingdom 3.8  3.2  1.9  5.2   0.3 0.1  0.8    NA 1.7   2.2 0.1

  Country        Year growth
1 Belgium        2006 0.7
2 France         2006 0.3
3 Germany        2006 2.4
4 Netherlands    2006 2.4
5 Sweden         2006 2.6
6 United Kingdom 2006 3.8

You can check whether the 2 methods deliver the same results with:

In [4]:
sum(oecd1 != oecd2, na.rm = TRUE)

ERROR: Error in Ops.data.frame(oecd1, oecd2): '!=' only defined for equally-sized data frames

No differences!

End of Notebook